{% extends "base_generic.html" %} {% block content %}
<h1>
  Home
  <h1 />
  <ul>
    <li><a href="{% url 'cliente-list' %}">Cliente</a></li>
    <li />
    <li><a href="{% url 'cardapio-list' %}">Cardapio</a></li>
    <li />
    <li><a href="{% url 'pedido-list' %}">Pedido</a></li>
    <li />
    <li><a href="{% url 'ingrediente-list' %}">Ingrediente</a></li>
    <li />
    <li><a href="{% url 'alerta-reposicao' %}">Ingredientes para reposição</a></li>
    <li />
    <ul />
    {% endblock content %}
  </ul>
</h1>
